body{
    background-color: rgb(206, 199, 199);
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

main{
    width: 70%;
    height: auto;
}

.posts{
    width: 100%;
    height: 88vh;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
}

.caption{
    text-align: center;
    width: 100%;
    height: 15vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    width: 30%;
    height:auto;
    background-color: rgb(167, 167, 167);
}